body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 131, 131, 0.253);
    min-height: 100vh;
}

/* h1{
    margin-bottom: 50px;
} */

.card{
    max-width: 800px;
    width: 90%;
    border-color: rgba(0, 0, 0, 0.089);
}

.display-1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight:600;
}

.display-2{
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 380;
}

#inputsForControl{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

#digitalControl{
    margin-bottom: 17px;
}

#form-control{
    max-width: 300px;
}

#analogControl{
    width: 400px;
}

#analogControl P{
    font-size: 12px;
}

#communicationsStatus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#displayInputAndOutputs{
    padding: 15px 30px 5px 30px;
    display: flex;
    justify-content: space-between;
}

#communicationsStatus{
    padding: 5px 30px 5px 30px;
}

p{
    display: flex;
    justify-content: space-between;
}